.carSelectionItem {
  transform: translateX(1px);
  cursor: pointer;
  transition: all 0.2s;
  width: 50%;
}

.carSelectionItem:hover {
  transform: translateX(-20px);
}

.carImage {
  width: 100%;
  border-radius: 16px;
}

.randomCarImage {
  filter: grayscale(200%) contrast(80%) blur(1.5px);
  width: 100%;
  border-radius: 16px;
  position: relative;
}

.randomCarSelectionItem:after {
  content: '?';
  font-size: 64px;
  color: white;
  z-index: 99999;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, 0);
}

.carName {
  font-size: 24px;
  color: #666;
  font-weight: 600;
}

.pilotName {
  color: #444;
  font-weight: 500;
}

.carDetailContainer {
  position: relative;
  position: absolute;
  left: -180px;
  top: -30px;
  transform: translateX(-30px);
  background-color: rgba(255, 255, 255, 0.75);
  width: 180px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s;
}

.carSelectionItem:hover .carDetailContainer {
  pointer-events: all;
  opacity: 1;
}

.carInfo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.pilotImage {
  position: absolute;
  right: 10px;
  top: -60px;
  width: 80px;
  border-radius: 16px;
}

.randomPilotImage {
  position: absolute;
  right: 10px;
  top: -60px;
  width: 80px;
  height: 87.05px;
  border-radius: 16px;
  background-color: #383745;
}

.randomPilotImage:after {
  content: '?';
  color: rgba(255, 255, 255, 0.75);
  font-size: 48px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
