.dashboardContainer {
  width: 20%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  margin-top: 8px;
  padding: 16px;
  background-color: rgba(255, 255, 255, 0.75);
}

.carName {
  font-size: 18px;
  font-weight: 600;
}

.youText {
  margin-left: 16px;
  font-style: italic;
  color: #777;
  font-weight: 500;
}
