.trackFieldContainer {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  margin-top: 8px;
  height: calc(100vh - 16px);
  border-radius: 8px;
}

.trackField {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-image: url('../../../constants/asphalt.jpeg');
  box-shadow: inset 0 0 0 4px white;
}

.line {
  width: 100%;
  height: 10px;
  background-color: white;
  border-radius: 2px;
}

.startLine {
  background-color: white;
  position: absolute;
  height: 450px;
  width: 10px;
  left: 1000px;
  top: 0;
}

.finishLine {
  background-color: white;
  position: absolute;
  height: 450px;
  width: 10px;
  left: 50px;
  top: 0;
}

.selectedCar {
  position: absolute;
  top: 20px;
  left: -390px;
  height: 80px;
  transition: all 1.2s;
  transition-timing-function: linear;
}

.opponentCar1 {
  position: absolute;
  top: 130px;
  left: -390px;
  height: 80px;
  transition: all 1.2s;
  transition-timing-function: linear;
}

.opponentCar2 {
  position: absolute;
  top: 240px;
  left: -390px;
  height: 80px;
  transition: all 1.2s;
  transition-timing-function: linear;
}

.opponentCar3 {
  position: absolute;
  top: 350px;
  left: -390px;
  height: 80px;
  transition: all 1.2s;
  transition-timing-function: linear;
}

.carImage {
  height: 80px;
  border-radius: 16px;
}

.carName {
  position: absolute;
  color: #fafafa88;
  font-size: 36px;
  letter-spacing: 10px;
  font-style: italic;
  font-weight: 600;
  left: 50%;
  transform: translate(-50%, 0);
}

.yourCarText {
  top: 35px;
}

.opponentCarName1 {
  top: 150px;
}

.opponentCarName2 {
  top: 255px;
}

.opponentCarName3 {
  top: 365px;
}

.buttonsContainer {
  width: 100%;
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.startRaceButton {
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  background-color: #e00400;
  color: #fff;
  border: 2px solid #e00400;
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: 280px;
  margin-top: 8px;
  transition: all 0.3s;
}

.changeCarButton {
  background-color: #fff;
  color: #e00400;
  border: 2px solid #fff;
  border-radius: 8px;
  padding: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  width: 280px;
  margin-top: 8px;
  transition: all 0.3s;
}

.changeCarButton:hover {
  border: 2px solid #e00400;
}

.startRaceButton:hover {
  border: 2px solid #fff;
}
